{% extends 'lvhua/base.html' %}

{% block bodycontent %}
    <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="/static/picture/banner9.jpg" sizes="(max-width: 767px) 767px" alt="樱桃种植基地">
            </div>
        </div>
    <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                            <li>
                                <a href='/jidi/' class='link active'>
                                    樱桃种植基地
                                </a>
                            </li>
                            <li>
                                <a href="/jidi/"​ class="link ">
                                    猕猴桃种植基地
                                </a>
                            </li>
                            <li>
                                <a href="/jidi/"​ class="link ">
                                    云杉苗种植基地
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <section class="met-show animsition">
            <div class="container">
                <div class="row">
                    <div class="met-editor lazyload clearfix">
                        <div>
                            <div style="text-align: center;">
                                &nbsp;
                                <img alt="" src="/static/picture/1-1p1031q1034q.jpg" style="width: 1200px; height: 500px;"
                                />
                                <br />
                                <img alt="" src="/static/picture/1-1p1031q112f2.jpg" style="width: 1200px; height: 500px;"
                                />
                                <br />
                                <img alt="" src="/static/picture/1-1p1031q124t3.jpg" style="width: 1200px; height: 500px;"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}



