<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <div align="center">
        <h2>员工管理系统-注册</h2>
        <form method="post" action="/user/regist_handle/">
            <input type="text" name="uname" placeholder="请输入账号："><br><br>
            <input type="text" name="upwd" placeholder="请输入密码："><br><br>
            <a href="/user/login/">取消</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="注册">

        </form>
    </div>
</body>
</html>